RewriteEngine On
RewriteRule ^api/(.*)$ index.php/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html?$1 [L]

RedirectMatch 302 ^/$ /dashboard