RewriteEngine On

RewriteRule ^api/(.*)$ index.php/$1 [L]
RewriteRule ^_(.*)$ index.php/$1 [L]

RewriteRule ^admin(.*)$ index.php/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^[^api] front.html [L]

RewriteRule ^$ front.html [L]
